<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
			<section name="DamageMaker.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
		</sectionGroup>
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
			<section name="DamageMaker.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
		</sectionGroup>
	</configSections>
	<userSettings>
		<DamageMaker.Properties.Settings>
   <setting name="ScreenshotOffset" serializeAs="String">
    <value>30</value>
   </setting>
   <setting name="ScreenshotInterval" serializeAs="String">
    <value>30</value>
   </setting>
   <setting name="LastSelectedFolder" serializeAs="String">
    <value />
   </setting>
   <setting name="InPath" serializeAs="String">
    <value>.\\ImgFile\\in</value>
   </setting>
   <setting name="DocxPath" serializeAs="String">
    <value>.\\DocxsPath</value>
   </setting>
   <setting name="YoloLocation" serializeAs="String">
    <value>..\yolov9-main\demo.py</value>
   </setting>
   <setting name="MouseMovePixel" serializeAs="String">
    <value>40</value>
   </setting>
   <setting name="TrackData" serializeAs="String">
    <value>.\\TrackData</value>
   </setting>
   <setting name="ExcelsPath" serializeAs="String">
    <value>.\\ExcelsPath</value>
   </setting>
   <setting name="IsDistictRepeat" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="IsConcealFishScale" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="OutPath" serializeAs="String">
    <value>.\\ImgFile\\out</value>
   </setting>
  </DamageMaker.Properties.Settings>
	</userSettings>
	<applicationSettings>
		<DamageMaker.Properties.Settings>
   <setting name="PythonScriptLocation" serializeAs="String">
    <value>D:\Publish\StartScript\StartScript.exe</value>
   </setting>
   <setting name="OfficeLocation" serializeAs="String">
    <value>C:\Program Files\Microsoft Office\root\Office16\WINWORD.EXE</value>
   </setting>
   <setting name="Snipaste" serializeAs="String">
    <value>D:\Snipaste-2.9.1-Beta-x64\Snipaste.exe</value>
   </setting>
   <setting name="SqlPath" serializeAs="String">
    <value>.\\DB\\Dm.db</value>
   </setting>
   <setting name="AppLocation" serializeAs="Xml">
    <value>
     <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
      <string>D:\work\E\铁路超声波探伤判伤\探伤\回放软件\JGT-6M免安装版\软件\JGT-6M回放软件免安装版\JGT-6M信息管理.exe</string>
      <string>D:\work\E\铁路超声波探伤判伤\探伤\回放软件\RailTest免安装版\软件\RailTest\RailTest.exe</string>
      <string>D:\回放软件\CT19_V372\CTKJ-436.exe</string>
     </ArrayOfString>
    </value>
   </setting>
  </DamageMaker.Properties.Settings>
	</applicationSettings>
</configuration>