<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
			<section name="DamageMaker.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
		</sectionGroup>
  <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
   <section name="DamageMaker.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </sectionGroup>
 </configSections>
	<userSettings>
		<DamageMaker.Properties.Settings>
   <setting name="ScreenshotOffset" serializeAs="String">
    <value>30</value>
   </setting>
   <setting name="ScreenshotInterval" serializeAs="String">
    <value>30</value>
   </setting>
   <setting name="LastSelectedFolder" serializeAs="String">
    <value />
   </setting>
  </DamageMaker.Properties.Settings>
	</userSettings>
 <applicationSettings>
  <DamageMaker.Properties.Settings>
   <setting name="AppLocation" serializeAs="Xml">
    <value>
     <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
      <string>D:\回放软件\JGT\V704E(1)\B超探伤704E.exe</string>
     		 <string>D:\回放软件\宁波最新6M\JGT-6M信息管理.exe</string>
		 <string>D:\回放软件\GCT_OL_V0.2.5-8D\RailTest8D.exe</string>
		 <string>D:\回放软件\RailTest\RailTest8C.exe</string>
		<string>D:\回放软件\CT19_V372\CTKJ-443.exe</string>
		<string>D:\回放软件\双轨分析新版\大仪器PlusV4.4.4_22.8.25.exe</string>
‪                                <string>D:\回放软件\GT-20回放软件V1.2.3\gt_20_replayer.exe</string>
                                <string>D:\回放软件\最新GT-2+回放(GT)20190516 (1)\最新GT-2+回放(GT)2018.12.24\GT2PlusReplayer.exe</string>
                                <string>D:\回放软件\回放软件\ETG-60回放软件_(V1.1.1)\EGT-60Replayer32.exe</string>
		 <string>D:\回放软件\G8CP_OL_5.43S_SH\G8CP_OL\RailTest-new.exe</string>
     </ArrayOfString>
    </value>
   </setting>

 <setting name="PythonScriptLocation" serializeAs="String">
    <value>D:\DamagerMarker\StartScript\StartScript.exe</value>
   </setting>

<setting name="OfficeLocation" serializeAs="String">
    <value>C:\Users\PPXYG\AppData\Local\Kingsoft\WPS Office\ksolaunch.exe</value>
   </setting>

<setting name="Snipaste" serializeAs="String">
				<value>D:\DamagerMarker\DM0.9\Snipaste-2.9.1-Beta-x64\Snipaste.exe</value>
			</setting>

  </DamageMaker.Properties.Settings>
 </applicationSettings>
</configuration>